asgiref==3.7.2
colour==0.1.5
coverage==7.4.3
dj-database-url==2.1.0
Django==5.0.3
gunicorn==21.2.0
iniconfig==2.0.0
kaleido==0.2.1
packaging==24.0
plotly==5.19.0
pluggy==1.4.0
psycopg2-binary==2.9.9
pytest==8.1.1
pytest-cov==4.1.0
pytest-django==4.8.0
sqlparse==0.4.4
tenacity==8.2.3
tqdm==4.66.2
typing_extensions==4.10.0
whitenoise==6.6.0
